<h2 class="text-center mt-4">Preguntas Frecuentes</h2>

<mat-dialog-content class="mat-typography">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Cómo puedo cargar mi solicitud de crédito? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Puedes cargar tu solicitud de crédito haciendo clic en el botón "Cargar solicitud" en la sección correspondiente.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Cuánto tiempo tarda el proceso de solicitud? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>El proceso de solicitud de crédito puede tardar entre 3 y 5 días hábiles, dependiendo de la complejidad de tu caso.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Cómo puedo hacer seguimiento a mi solicitud?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Puedes hacer seguimiento a tu solicitud de crédito haciendo clic en el botón "Ver seguimiento" en la sección correspondiente.</p>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</mat-dialog-content>